.button:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  }

.mikey{
    border: ridge black 3px;
}

.disney {
    background-color: aqua;
}

.cine {
    margin-left: 150px;
}

body {
    background-image: "https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80%22";
}