body{
    background-color: rgba(5, 128, 229, 0.604);
}

.bleu{
    background-image: url(':///C:/Users/nolan/OneDrive/Images/Capture%20d%E2%80%99%C3%A9cran%202023-06-21%20161516.png');
}

.yolo{
    background-color: #01B7CF;
}